<!DOCTYPE html>
<html>
  <head>
    <title>SmartoGo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header class="mb-4 bg-light border-bottom border-dark">
      <nav class="navbar navbar-expand-lg navbar-dark p-2 ">
        <div class="container">
          <div class="logo">
            <!--logo-->
          </div>
          <ul class="flex">
            <!-- devise問題　コメントアウトした後shopに変更 -->
            <% if shop_signed_in? %>
              <li><%= link_to "予約一覧", to_gos_path %></li>
              <li><%= link_to "商品一覧", items_path %></li>
              <li><%= link_to "home", shops_my_page_path %></li>
              <!-- 下のパス　shop部分コメントアウトした後shopに変更 -->
              <li><%= link_to "ユーザーログアウト", destroy_shop_session_path,method: :delete %></li>
              <li><%= link_to "ショップログアウト", destroy_shop_session_path,method: :delete %></li>
            <% else %>
              <li><%= link_to "About", about_path %></li>
              <!-- 下の2行パス　shop部分コメントアウトした後shopに変更 -->
              <li><%= link_to "ログイン", new_shop_session_path %></li>
              <li><%= link_to "新規登録", new_shop_registration_path %></li>
              <!-- 緊急追加 -->
              <li><%= link_to "ユーザーログアウト", destroy_shop_session_path,method: :delete %></li>
              <li><%= link_to "ショップログアウト", destroy_shop_session_path,method: :delete %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    
    <main>
      <%= yield %>
    </main>
    
  </body>
</html>
